body {
	background: #eee;
	font-family: sans-serif;
	margin: 0 auto;
	box-sizing: border-box;
}

.card {
	width: 400px;
	background: #fff;
	margin: 16px auto;
	padding: 10px;
}

.title {
	background: #e3f4ff;
	padding: 10px;
	font-size: 16px;
}

.content {
	background: #e3f4ff;
	padding: 10px;
	font-size: 16px;
}

.button-container {
	background: #e3f4ff;
	margin-top: 10px;
	text-align: center;
	padding: 10px;
}

button {
	background: white;
	border: 1px solid #eee;
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
}
